<li >
    <div>
        <p> <%= comment.content %> </p>
        <small> <%= comment.user.name %></small>
        <% if(locals.user) { %> 
            <% if (locals.user.id == comment.user.id || locals.user.id == post.user.id) { %>
            <small>
                <a href="/comments/delete/?commentId=<%= comment.id %>&&postUser=<%= post.user.id%>">
                    <i class="fas fa-trash"></i>
                </a>
            </small>
            <% } %>
        <% } %>
    </div>
</li>   