<footer>
  <div id="footer-nav">
    <div id="footer-declaration">@Sezal Verma. All Rights Reserved.</div>
    <div id="footer-pagesLinks">
      <ul>
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/users/profile"> Profile </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
