footer {
  background-color: #536072;
  color: white;
}

footer #footer-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

footer #footer-nav #footer-declaration {
  width: 33%;
  margin: auto 0px;
  display: inline-block;
}

footer #footer-nav #footer-pagesLinks {
  display: inline-block;
  width: 33%;
  margin-left: 0%;
}

footer #footer-nav #footer-pagesLinks ul {
  list-style: none;
}

footer #footer-nav #footer-pagesLinks ul li a {
  color: white;
  text-decoration: none;
  font-size: large;
}
